[Unit]
Description=Aeroprint Startup Service

[Service]
ExecStart=/bin/bash /etc/aeroprint/startup.bash
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target