[Unit]
Description=Aeroprint Startup Service

[Service]
User=root
ExecStart=/bin/bash /etc/aeroprint/startup.bash
Type=simple

[Install]
WantedBy=multi-user.target                        